@import 'tailwindcss';
@import './shared/_header.css';
@import './shared/_pagination.css';
@import './home/_hero.css';
@import './home/_about_us.css';
@import './home/_cta.css';
@import './home/_contact_form.css';
@import './home/_services.css';
@import './home/_lead_capture.css';
@import 'fonts.css';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 400;
        background-color: #FBF7F2;
        /*@apply bg-gradient-to-b to-tertiary via-white from-[#fdf8ef];*/
    }
    html {
        font-family: 'Inter Variable', sans-serif;
        color: #0000009c;
    }
    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700; /* Bold */
        @apply text-4xl md:text-5xl lg:text-7xl;
    }
    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700; /* Bold */
        @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
    }
    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600; /* Semibold */
        @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
    }
    h4 {
        font-family: 'Inter', sans-serif;
        font-weight: 400; /* Regular */
        @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    }
    h5 {
        font-family: 'Inter', sans-serif;
        font-weight: 400; /* Regular */
        @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
    }
    h6 {
        font-family: 'Inter', sans-serif;
        font-weight: 400; /* Regular */
        @apply text-base md:text-lg lg:text-xl xl:text-2xl;
    }
    /*p {*/
    /*    @apply text-base md:text-base lg:text-lg;*/
    /*}*/

    input[type="radio"] {
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
    }
}

@theme {
    --color-primary: {{ (default "#000099" site.Params.colors.primary) }};
    --color-secondary: {{ (default "#e60000" site.Params.colors.secondary) }};
    --color-tertiary: {{ (default "#ffc300" site.Params.colors.tertiary) }};
}

.font-outline-black {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.font-outline-white {
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
}

.font-outline-primary {
    text-shadow:
            -1px -1px 0 #000099,
            1px -1px 0 #000099,
            -1px 1px 0 #000099,
            1px 1px 0 #000099;
}

.font-outline-tertiary {
    text-shadow:
            -1px -1px 0 #f7ab08,
            1px -1px 0 #f7ab08,
            -1px 1px 0 #f7ab08,
            1px 1px 0 #f7ab08;
}

.gradient-header {
    background: #00007B;
    background: linear-gradient(180deg, rgba(0, 0, 123, 1) 36%, rgba(28, 28, 186, 1) 100%);
}

.gradient-footer {
    background: #00007B;
    background: linear-gradient(0deg, rgba(0, 0, 123, 1) 46%, rgba(48, 48, 186, 1) 100%);
}

.paragraph-color{
    @apply text-gray-700;
}

/*Hide video controls on mobile*/
@media (max-width: 768px) {
    video::-webkit-media-controls {
        display: none !important;
    }

    video::-webkit-media-controls-panel {
        display: none !important;
    }

    video::-webkit-media-controls-play-button {
        display: none !important;
    }

    video::-webkit-media-controls-start-playback-button {
        display: none !important;
    }
}