<section id="services" class="py-16 md:py-24 bg-neutral-100">
    <div class="mx-auto w-full max-w-9/10 px-6 lg:px-10">
        <div class="rounded-2xl bg-white shadow-md px-6 py-12 md:px-10 md:py-14">

            {{ with .title }}
            <div class="mx-auto max-w-4xl text-center mb-5">
                <h2 class="text-primary mb-4">
                    {{ . }}
                </h2>
                <div class="mx-auto h-[2px] w-32 bg-primary/80 rounded"></div>
            </div>
            {{ end }}

            {{ with .text }}
            <div class="mx-auto max-w-3xl text-center mb-12">
                <h5 class="paragraph-color leading-8">
                    {{ . }}
                </h5>
            </div>
            {{ end }}

            {{ if .cards }}
            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {{ range .cards }}
                <div class="group">

                    {{ with .link }}
                    <a href="{{ . }}">
                        {{ end }}

                        <!-- Image -->
                        <div class="overflow-hidden rounded-xl shadow-md">
                            {{ with .image }}
                            {{ partial "utilities/image" (dict
                            "src" .
                            "class" "w-full h-full object-cover aspect-[4/3] transition duration-500 ease-in-out group-hover:scale-105"
                            ) }}
                            {{ end }}
                        </div>

                        <!-- Text BELOW image -->
                        <div class="mt-5 text-center px-2">
                            {{ with .title }}
                            <h5 class="text-primary font-semibold mb-2">
                                {{ . }}
                            </h5>
                            {{ end }}

                            {{ with .text }}
                            <p class="paragraph-color md:text-lg leading-6 max-w-sm mx-auto">
                                {{ . }}
                            </p>
                            {{ end }}
                        </div>

                        {{ with .link }}
                    </a>
                    {{ end }}

                </div>
                {{ end }}
            </div>
            {{ end }}

        </div>
    </div>
</section>