{{ define "main" }}
    <section>
        <div class="overflow-hidden h-[30vh] md:h-108 lg:h-145 xl:h-150">
            <div class="grid grid-cols-2 h-full">

                <!-- BEFORE IMAGE -->
                {{ with .Params.beforeImage }}
                <div class="relative">
                    {{ partial "utilities/image.html" (dict
                    "src" .
                    "class" "w-full h-full object-cover"
                    ) }}

                    <!-- Label -->
                    <div class="absolute top-3 left-3 bg-black/70 text-white text-xs md:text-sm px-3 py-1 rounded">
                        Before
                    </div>
                </div>
                {{ end }}

                <!-- AFTER IMAGE -->
                {{ with .Params.afterImage }}
                <div class="relative">
                    {{ partial "utilities/image.html" (dict
                    "src" .
                    "class" "w-full h-full object-cover"
                    ) }}

                    <!-- Label -->
                    <div class="absolute top-3 right-3 bg-primary text-white text-xs md:text-sm px-3 py-1 rounded">
                        After
                    </div>
                </div>
                {{ end }}

            </div>
        </div>
        <div class="container mx-auto py-10 px-4">
            {{ with .Title }}
            <h2 class="text-primary mb-8 text-center font-bold">{{ . }}</h2>
            {{ end }}
            {{ with .Params.subtitle }}
            <h4 class="text-primary mb-16 text-center font-bold">{{ . }}</h4>
            {{ end }}
            <div class="prose prose-lg max-w-none">
                {{ .Content }}
            </div>
        </div>
    </section>
<!--Dynamic CTA loading based on current page filename-->
{{ $ctaFileName := printf "%s-cta" .File.BaseFileName }}
{{ $ctaData := index .Site.Data.services $ctaFileName }}
{{ with $ctaData }}
{{ partial "blocks/services/cta.html" . }}
{{ end }}
{{ with .Site.Data.home.services }}{{ if .enable }}{{ partial "blocks/services/services.html" . }}{{ end }}{{ end }}
{{ end }}
